In [32]:
import json
import pandas as pd
from itertools import product

In [90]:
params = {
    "rna_indices_end": 2000,
    "categorical_covariate_keys": [
        "sample",
        "study",
        "lung_condition_coarse"
    ],
    "z_dim": 16,
    "attn_dim": 16,
    "class_loss_coef": 1.0,
    "cond_dim": 16,
    "seed": 0,
    "batch_size": 256,
    "train_max_epochs": 2,
    "train_save_checkpoint_every_n_epochs": 2,
    "query_max_epochs": 2,
    "query_save_checkpoint_every_n_epochs": 2,
    "subset_umap": 20000,
    "umap_colors": [
      "lung_condition_coarse",
      "transf_ann_level_1_label",
      "transf_ann_level_2_label",
      "transf_ann_level_3_label",
      "study"
    ]
}

In [91]:
kl = [1e-1, 1e-2]
lr = [1e-3, 1e-2]

In [92]:
params_df = pd.DataFrame(list(product(kl, lr)), columns=['kl', 'lr'])
params_df

     kl     lr
0  0.10  0.001
1  0.10  0.010
2  0.01  0.001
3  0.01  0.010

In [93]:
for k in params:
    params_df[k] = [params[k]]*len(params_df)

In [94]:
params_df

,kl,lr,rna_indices_end,categorical_covariate_keys,z_dim,attn_dim,class_loss_coef,cond_dim,seed,batch_size,train_max_epochs,train_save_checkpoint_every_n_epochs,query_max_epochs,query_save_checkpoint_every_n_epochs,subset_umap,umap_colors
0,0.10,0.001,2000,"[sample, study, lung_condition_coarse]",16,16,1.0,16,0,256,2,2,2,2,20000,"[lung_condition_coarse, transf_ann_level_1_lab..."
1,0.10,0.010,2000,"[sample, study, lung_condition_coarse]",16,16,1.0,16,0,256,2,2,2,2,20000,"[lung_condition_coarse, transf_ann_level_1_lab..."
2,0.01,0.001,2000,"[sample, study, lung_condition_coarse]",16,16,1.0,16,0,256,2,2,2,2,20000,"[lung_condition_coarse, transf_ann_level_1_lab..."
3,0.01,0.010,2000,"[sample, study, lung_condition_coarse]",16,16,1.0,16,0,256,2,2,2,2,20000,"[lung_condition_coarse, transf_ann_level_1_lab..."

In [95]:
params_df.to_csv('../data/params/hlca_small/multigrate.tsv', sep='\t')